*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
    background-image: url("https://wallpaperaccess.com/full/733833.jpg");
}

.formRegistro{
    width: 400px;
    background: #23303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    border-top: 4px solid #9963e7;
}

.formRegistro h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.Controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #9963e7;
    font-family: 'bahnschrift', sans-serif;
    font-size: 18px;
    color: white;
}

.formRegistro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.formRegistro a{
    color: white;
    text-decoration: none;

}
.formRegistro a:hover{
    color: white;
    text-decoration: underline;
}
.formRegistro .butRegistrar{
    width: 100%;
    background: #9963e7;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
}

